{% extends 'dashboard/admin/base/base_template.html' %}

{% block Title %}جزئیات گروه فیلد - {{ category.name }}{% endblock %}


{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- wrap @s -->
            <div class="nk-wrap">
                {% include 'dashboard/admin/base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'dashboard/admin/base/components/menu-aside.html' %}
                            <!-- .nk-aside -->
                            <div class="nk-content-body">

                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between g-3">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">جزئیات گروه فیلد</h3>
                                                <div class="nk-block-des text-soft">
                                                    <nav>
                                                        <ul class="breadcrumb breadcrumb-arrow">
                                                            <li class="breadcrumb-item"><a
                                                                    href="{% url 'dashboard:index' %}">صفحه اصلی</a>
                                                            </li>
                                                            <li class="breadcrumb-item"><a>تنظیمات</a></li>
                                                            <li class="breadcrumb-item"><a>محصولات</a></li>
                                                            <li class="breadcrumb-item"><a> فیلد ها</a></li>
                                                            <li class="breadcrumb-item"><a
                                                                    href="{% url 'dashboard:product_attr_field__list' %}">مدیریت
                                                                گروه فیلد ها </a></li>
                                                            <li class="breadcrumb-item active">
                                                                {{ group.name }}
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <div class="drodown">
                                                    <a href="#"
                                                       class="dropdown-toggle btn btn-icon btn-secondary px-2 text-center"
                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                        عملیات
                                                        <em class="icon ni ni-setting"></em>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li>
                                                                <button type="button" class="btn text-success"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal-edit">ویرایش
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="btn text-danger"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal-delete">حذف
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="card card-bordered">
                                            <!-- .nav-tabs -->
                                            <div class="card-inner card-inner-lg">
                                                <!-- .nk-block-head -->
                                                <div class="nk-block">
                                                    <div class="nk-data data-list data-list-s2">
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">نام</span>
                                                                <span class="data-value">
                                                                    {{ group.name }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">فیلد ها</span>
                                                                <span class="data-value">
                                                                    {% for field in group.get_fields %}
                                                                        <a
                                                                                href="{{ field.get_dashboard_absolute_url }}">
                                                                            <span class="badge badge-dim bg-info">{{ field.name|truncatechars:20 }}</span>
                                                                        </a>
                                                                    {% endfor %}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">نوع نمایش</span>
                                                                <span class="data-value">
                                                                    {{ group.get_type_of_display_display }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">زمان ایجاد</span>
                                                                <span class="data-value">
                                                                    {{ group.get_created_at_timepast }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">زمان بروزرسانی</span>
                                                                <span class="data-value">
                                                                    {{ group.get_updated_at_timepast }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- data-list -->
                                                </div>
                                                <!-- .nk-block -->
                                            </div>
                                            <!-- .card-inner -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                                <!-- footer @s -->
                                {% include 'dashboard/admin/base/components/footer.html' %}
                                <!-- footer @e -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- modals -->

        <div class="modal fade" tabindex="-1" id="modal-edit">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            ویرایش گروه فیلد
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:product_attr_group__update' group_id=group.id %}"
                              class="form-validate is-alter" novalidate="novalidate" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label" for="name">نام</label>
                                <div class="form-control-wrap">
                                    <input type="text" name="name" class="form-control" id="name"
                                           required=""
                                           placeholder="نام" value="{{ group.name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="fields">فیلد ها</label>
                                <div class="form-control-wrap">
                                    <select name="fields" id="fields" class="js-select2" multiple required>
                                        {% for field in fields %}
                                            <option value="{{ field.id }}"
                                                    {% if field in group.get_fields %}selected{% endif %}>{{ field.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="type_of_display">نوع نمایش</label>
                                <div class="form-control-wrap">
                                    <select name="type_of_display" id="type_of_display" class="js-select2 select-by-value" value="{{ group.type_of_display }}" required>
                                        {% for type in group.TYPE_DISPLAY %}
                                            <option value="{{ type.0 }}">{{ type.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group text-left mt-5">
                                <button type="submit" class="btn btn-lg btn-success p-1 px-2">
                                    ویرایش گروه فیلد
                                    <em class="icon icon-circle ni ni-pen bg-success"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-delete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            حذف گروه فیلد
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:product_attr_group__delete' group_id=group.id %}"
                              class="form-validate is-alter" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="badge-dim bg-danger fs-17px p-2" style="border-radius: 10px">
                                <p>ایا از حذف گروه فیلد
                                    {{ group.name }}
                                    اطمینان دارید؟
                                    پس از حذف امکان بازگشت وجود نخواهد داشت.</p>
                            </div>
                            <div class="form-group text-left mt-4">
                                <button type="submit" class="btn btn-lg btn-danger p-1 px-2">
                                    بله اطمینان دارم ! حذف
                                    <em class="icon icon-circle ni ni-trash-empty bg-danger"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
{% endblock %}


