<div class="product-attr-group">
    <label class="product-attr-group-title" for="#product-group-{{ group.id }}-id">{{ group.name }}</label>
    <div class="product-attr-fields">
        {% for field in group.get_fields %}
            <div class="product-attr-field">
                <label>
                    <div>
                        {% if field.picture %}
                            <img src="{{ field.get_picture_url }}">
                        {% endif %}
                        <span>{{ field.name }}</span>
                        {% if field.additional_price > 0 %}
                            <span class="additional-price">(<span class="price-el">{{ field.additional_price }}</span>)</span>
                        {% endif %}
                    </div>
                    <div>
                        <input type="radio" class="form-check-input" name="product_group_{{ group.id }}"
                               value="{{ field.id }}"
                               {% if forloop.last %}required{% endif %}>
                    </div>
                </label>
            </div>
        {% endfor %}
    </div>
</div>