{% extends 'dashboard/admin/base/base_template.html' %}

{% block Title %}جزئیات محصول - {{ product.title }}{% endblock %}

{% block Styles %}
    <style>
        .pr-gallery-item {
            display: inline-block;
            margin: 4px;
            border-radius: 5px;
            border: 1px solid rgba(238, 238, 238, 0.4);
            position: relative;
            width: 100px;
            height: 100px;
        }

        .pr-gallery-item img {
            width: 100px;
            height: 100%;
            border-radius: inherit;
            object-fit: fill;
        }

        .pr-gallery-item em {
            cursor: pointer;
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 17px;
            padding: 5px;
            background: rgba(227, 227, 227, 0.9);
            border: 1px solid rgba(234, 35, 26, 0.6);
            border-radius: 20px;
            backdrop-filter: blur(5px);
        }
    </style>
{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- wrap @s -->
            <div class="nk-wrap">
                {% include 'dashboard/admin/base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'dashboard/admin/base/components/menu-aside.html' %}
                            <!-- .nk-aside -->
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between g-3">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">مشخصات محصول</h3>
                                                <div class="nk-block-des text-soft">
                                                    <nav>
                                                        <ul class="breadcrumb breadcrumb-arrow">
                                                            <li class="breadcrumb-item"><a
                                                                    href="{% url 'dashboard:index' %}">صفحه اصلی</a>
                                                            </li>
                                                            <li class="breadcrumb-item"><a>محصولات</a></li>
                                                            <li class="breadcrumb-item"><a
                                                                    href="{% url 'dashboard:basic_product__list' %}">لیست
                                                                محصولات </a></li>
                                                            <li class="breadcrumb-item active">
                                                                {{ product.title|truncatechars:30 }}</li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="row g-gs">
                                            <div class="col-xl-4">
                                                <div class="card card-bordered">
                                                    <div class="card-inner-group">
                                                        <div class="card-inner">
                                                            <div class="user-card user-card-s2">
                                                                <div class="user-avatar lg bg-primary">
                                                                    <img src="{{ product.get_image_cover }}"
                                                                         alt="{{ product.title }}"
                                                                         style="border-radius: 17px"/>
                                                                </div>
                                                                <div class="user-info">
                                                                    <div class="badge bg-light rounded-pill ucap">
                                                                        {{ product.get_type_display }}
                                                                    </div>
                                                                    <h6>{{ product.title }}</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-inner card-inner-sm">
                                                            <ul class="btn-toolbar justify-center gx-1">
                                                                <li data-bs-toggle="modal"
                                                                    data-bs-target="#modal-delete">
                                                                    <a href="#" data-bs-toggle="tooltip"
                                                                       data-bs-placement="top" title="حذف محصول"
                                                                       class="btn btn-trigger btn-icon text-danger"><em
                                                                            class="icon ni ni-trash"></em></a>
                                                                </li>
                                                                <li data-bs-toggle="modal"
                                                                    data-bs-target="#modal-edit">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon text-info"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       title="ویرایش محصول"><em
                                                                            class="icon ni ni-pen"></em></a>
                                                                </li>
                                                                <li data-bs-toggle="modal"
                                                                    data-bs-target="#modal-gallery">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon text-orange"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       title="تصاویر"><em
                                                                            class="icon ni ni-img"></em></a>
                                                                </li>
                                                                <li data-bs-toggle="modal"
                                                                    data-bs-target="#modal-add-inventory">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon text-success"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       title="مدیریت موجودی"><em
                                                                            class="icon ni ni-book"></em></a>
                                                                </li>
                                                                <li class="d-none">
                                                                    <a href="#"
                                                                       class="btn btn-trigger btn-icon text-warning"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       title="تنظیم تخفیف"><em
                                                                            class="icon ni ni-percent"></em></a>
                                                                </li>
                                                                <li>
                                                                    <a href="{% url 'product:basic_product__detail' product_id=product.id %}"
                                                                       class="btn btn-trigger btn-icon text-primary"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       title="مشاهده در سایت"><em
                                                                            class="icon ni ni-eye"></em></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="card-inner">
                                                            <div class="row text-center">
                                                                <div class="col-6">
                                                                    <div class="profile-stats">
                                                                        <span class="amount separate-el">{{ product.get_orders.count }}</span>
                                                                        <span class="sub-text fs-11px">کل سفارشات</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="profile-stats">
                                                                        <span class="amount separate-el">{{ product.get_quantity|default:0 }}</span>
                                                                        <span class="sub-text">موجودی</span>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 mt-3 d-flex justify-content-between">
                                                                    <div class="col-6">
                                                                        <div class="profile-stats">
                                                                            <span class="amount price-el fs-15px">{{ product.get_price }}</span>
                                                                            <span class="sub-text">قیمت</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="profile-stats">
                                                                            <span class="amount price-el fs-15px">{{ product.get_display_price }}</span>
                                                                            <span class="sub-text">قیمت نمایشی</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .card-inner -->
                                                        <div class="card-inner">
                                                            <h6 class="overline-title mb-2">اطلاعات کوتاه</h6>
                                                            <div class="row g-3">
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">شناسه محصول:</span>
                                                                    <span>{{ product.id }}</span>
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">دسته بندی ها:</span>
                                                                    {% for category in product.get_categories %}
                                                                        <a href="{{ category.get_dashboard_absolute_url }}">
                                                                            <span class="badge bg-secondary rounded-pill m-1">{{ category.name }}</span>
                                                                        </a>
                                                                        {% empty %}
                                                                        <span class="text-orange fs-13px">بدون دسته بندی</span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">تگ ها:</span>
                                                                    {% for tag in product.get_tags %}
                                                                        <span class="badge bg-secondary rounded-pill m-1">{{ tag.name }}</span>
                                                                        {% empty %}
                                                                        <span class="text-orange fs-13px">بدون تگ</span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">تعداد کامنت ها:</span>
                                                                    <span>
                                                                        {{ product.get_all_comments.count }}
                                                                        ({{ product.get_comments.count }})
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">میانگین امتیاز:</span>
                                                                    <span>{{ product.get_rate }}
                                                                        <em class="ni ni-star text-warning"></em>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">مبلغ فروش از این محصول:</span>
                                                                    <span class="price-el">{{ product.get_total_sales_price }}</span>
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">ایجاد شده در:</span>
                                                                    <span>
                                                                        <span class="datetime-convert">{{ product.get_created_at }}</span>
                                                                        <span class="fs-11px">({{ product.get_created_at_timepast }})</span>
                                                                    </span>
                                                                </div>
                                                                <div class="col-sm-6 col-xl-12">
                                                                    <span class="sub-text">ویرایش شده در:</span>
                                                                    <span>
                                                                        <span class="datetime-convert">{{ product.get_updated_at }}</span>
                                                                        <span class="fs-11px">({{ product.get_updated_at_timepast }})</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- .card-inner -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .col -->
                                            <div class="col-xl-8">
                                                <div class="card card-bordered">
                                                    <div class="card-inner">
                                                        <div class="nk-block">
                                                            <div class="nk-block-head d-flex justify-content-between align-items-start">
                                                                <h5 class="title">اطلاعات محصول</h5>
                                                                {% if product.status == 'active' %}
                                                                    <span class="badge badge-dim bg-success p-1">محصول فعال است</span>
                                                                {% elif product.status == 'inactive' %}
                                                                    <span class="badge badge-dim bg-danger p-1">محصول غیر فعال است</span>
                                                                {% else %}
                                                                    <span class="badge badge-dim bg-warning p-1">محصول آرشیو شده است</span>
                                                                {% endif %}
                                                            </div>
                                                            <!-- .nk-block-head -->
                                                            <div class="profile-ud-list">
                                                                <div class="profile-ud-item w-100">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">عنوان</span>
                                                                        <span class="profile-ud-value">{{ product.title }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item w-100">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">نوع محصول</span>
                                                                        <span class="profile-ud-value">
                                                                            <span class="badge badge-dim bg-secondary">
                                                                                {{ product.get_type_display }}
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item w-100">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">تعداد عکس ها</span>
                                                                        <span class="profile-ud-value">{{ product.get_images.count }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item w-100">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label fs-14px">دسته بندی فیلد ها</span>
                                                                        <span class="profile-ud-value">
                                                                        {% if product.attr_category %}
                                                                            <a href="{{ product.attr_category.get_dashboard_absolute_url }}">{{ product.attr_category.name|truncatechars:20 }}</a>
                                                                        {% else %}
                                                                            -
                                                                        {% endif %}
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-ud-item w-100">
                                                                    <div class="profile-ud wider">
                                                                        <span class="profile-ud-label">توضیحات</span>
                                                                        <span class="profile-ud-value">
                                                                            {{ product.description|default:'توضیحاتی ثبت نشده است' }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- .profile-ud-list -->
                                                        </div>
                                                        <div class="nk-divider divider md"></div>
                                                        <div class="nk-block">
                                                            <div class="d-flex justify-content-between align-items-start mb-2">
                                                                <h6 class="lead-text mb-3">سفارشات اخیر</h6>
                                                                <a href="{% url 'dashboard:order__list' %}?spr={{ product.id }}"
                                                                   class="fs-12px">
                                                                    مشاهده همه
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-list nk-tb-ulist is-compact border round-sm text-center">
                                                                <div class="nk-tb-item nk-tb-head">
                                                                    <div class="nk-tb-col">
                                                                        <span class="sub-text">شناسه سفارش</span>
                                                                    </div>
                                                                    <div class="nk-tb-col tb-col-sm">
                                                                        <span class="sub-text"> کاربر</span>
                                                                    </div>
                                                                    <div class="nk-tb-col">
                                                                        <span class="sub-text">وضعیت</span>
                                                                    </div>
                                                                </div>
                                                                {% for order in product.get_orders|slice:':6' %}
                                                                    <div class="nk-tb-item">
                                                                        <div class="nk-tb-col">
                                                                            <a href="{{ order.get_dashboard_absolute_url }}"><span
                                                                                    class="fw-bold">
                                                                                {{ order.tc }}
                                                                            </span></a>
                                                                        </div>
                                                                        <div class="nk-tb-col tb-col-sm">
                                                                            <span class="tb-product">
                                                                                <a href="{{ order.user.get_dashboard_absolute_url }}">{{ order.user.get_full_name|truncatechars:10|default:'-' }}</a>
                                                                            </span>
                                                                        </div>
                                                                        <div class="nk-tb-col">
                                                                            <span class="lead-text text-{{ order.status.status }}">
                                                                                {{ order.status.get_status_display }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    {% empty %}
                                                                    <div class="container-not-found-base">
                                                                        <p class="fs-19px">تاکنون سفارشی از این محصول
                                                                            صورت نگرفته است</p>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- .nk-tb-list -->
                                                        </div>
                                                        <div class="nk-block">
                                                            <div class="d-flex justify-content-between align-items-start mb-3">
                                                                <div>
                                                                    <h6 class="lead-text ">برخی از نظرات</h6>
                                                                    <p class="text-soft fs-11px">شامل تمامی نظرات از
                                                                        جمله
                                                                        نظرات تایید نشده</p>
                                                                </div>
                                                                <a href="{% url 'dashboard:comment__list' %}?filter=true&product={{ product.id }}"
                                                                   class="fs-12px">
                                                                    مشاهده همه
                                                                </a>
                                                            </div>
                                                            <div class="row g-3">
                                                                {% for comment in product.get_all_comments|slice:':6' %}
                                                                    <div class="col-12">
                                                                        <div class="card card-bordered comment-status-{{ comment.status }}">
                                                                            <div class="card-inner">
                                                                                <div class="d-flex align-items-center justify-content-between">
                                                                                    <div class="d-flex align-items-center">
                                                                                        <a href="{{ comment.user.get_dashboard_absolute_url }}">
                                                                                            <div class="icon-circle icon-circle-lg">
                                                                                                <img src="{{ comment.user.get_image_url }}"
                                                                                                     alt="{{ comment.user.get_full_name }}">
                                                                                            </div>
                                                                                        </a>
                                                                                        <div class="ms-3">
                                                                                            <a href="{{ comment.user.get_dashboard_absolute_url }}">
                                                                                                <h6 class="lead-text">
                                                                                                    {{ comment.user.get_full_name|truncatechars:10 }}
                                                                                                    <span class="text-soft ml-1">{{ comment.user.get_raw_phonenumber }}</span>
                                                                                                </h6>
                                                                                            </a>
                                                                                            <span class="sub-text mt-1">{{ comment.text }}</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <ul class="btn-toolbar justify-center gx-1 me-n1 flex-nowrap">
                                                                                        <li>
                                                                                            <span
                                                                                                    class="btn btn-icon text-warning"
                                                                                                    style="cursor: text">
                                                                                                <span class="fs-16px">{{ comment.rate }}</span>
                                                                                                &nbsp;
                                                                                                &nbsp;
                                                                                                <em
                                                                                                        class="fs-16px ni ni-star">
                                                                                                </em>
                                                                                            </span>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="{{ comment.get_dashboard_absolute_url }}"
                                                                                               class="btn btn-trigger btn-icon"><em
                                                                                                    class="icon ni ni-eye"></em></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- .col -->
                                                                    {% empty %}
                                                                    <div class="container-not-found-base">
                                                                        <p class="fs-19px">تاکنون نظری برای این محصول
                                                                            ثبت نشده است</p>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- .row -->
                                                        </div>
                                                    </div>
                                                    <!-- .card-inner -->
                                                </div>
                                                <!-- .card -->
                                            </div>
                                            <!-- .col -->
                                        </div>
                                        <!-- .row -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                                <!-- footer @s -->
                                {% include 'dashboard/admin/base/components/footer.html' %}
                                <!-- footer @e -->
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
        <!-- modals -->
        <div class="modal fade" tabindex="-1" id="modal-add-inventory">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            مدیریت موجودی
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:product_inventory__update' inventory_id=product.productinventory.id %}"
                              class="form-validate is-alter" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="hidden" name="product" value="{{ product.id }}">
                            <div class="form-group">
                                <label class="form-label" for="quantity">تعداد</label>
                                <div class="form-control-wrap">
                                    <input type="number" name="quantity" class="form-control" id="first_name"
                                           required=""
                                           placeholder="تعداد" value="{{ product.productinventory.quantity }}" min="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="price">قیمت اصلی</label>
                                <div class="form-control-wrap">
                                    <input type="number" name="price" class="form-control" id="price"
                                           required=""
                                           placeholder="قیمت" value="{{ product.productinventory.price }}" min="0">
                                    <div class="text-left fs-12px mt-1" id="label-inventory-price-update">
                                        <p>0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="display-price">قیمت نمایشی</label>
                                <div class="form-control-wrap">
                                    <input type="number" name="display_price" class="form-control" id="display-price"
                                           placeholder="قیمت" value="{{ product.productinventory.display_price }}"
                                           min="0">
                                    <div class="text-left fs-12px mt-1" id="label-inventory-display-price-update">
                                        <p>0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-left mt-5">
                                <button type="submit" class="btn btn-lg btn-success p-1 px-2">
                                    بروزرسانی موجودی
                                    <em class="icon icon-circle ni ni-book bg-success"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-gallery">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            تصاویر محصول
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:basic_product_images__update' product_id=product.id %}"
                              class="form-validate is-alter" novalidate="novalidate" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="image_cover" value="{{ product.image_cover.id }}">

                            <div class="form-group">
                                <label class="form-label" for="images">تصویر کاور</label>
                                <div class="form-control-wrap">
                                    <div class="form-file">
                                        <input type="file" accept="image/*" name="image_cover_file"
                                               class="form-file-input"
                                               id="customFiles">
                                        <label class="form-file-label" for="customFiles">انتخاب فایل</label>

                                    </div>
                                    {% if product.image_cover %}
                                        <div class="pr-gallery-item mt-2">
                                            <img src="{{ product.image_cover.get_image_url }}" class="click-full-size">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="images">تصاویر</label>
                                <div class="form-control-wrap">
                                    <div class="form-file">
                                        <input type="file" accept="image/*" name="images_file" multiple
                                               class="form-file-input"
                                               id="customMultipleFiles">
                                        <label class="form-file-label" for="customMultipleFiles">انتخاب فایل
                                            ها</label>
                                    </div>
                                    {% if product.get_images %}
                                        <div class="text-center mt-2">
                                            {% for image in product.get_images %}
                                                <div class="pr-gallery-item">
                                                    <em class="icon ni ni-trash-empty text-danger"></em>
                                                    <input type="hidden" name="images" value="{{ image.id }}">
                                                    <img src="{{ image.get_image_url }}" class="click-full-size">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group text-left mt-5">
                                <button type="submit" class="btn btn-lg btn-success p-1 px-2">
                                    ویرایش تصاویر
                                    <em class="icon icon-circle ni ni-pen bg-success"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="modal-edit">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            ویرایش محصول
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:basic_product__update' product_id=product.id %}"
                              class="form-validate is-alter" novalidate="novalidate" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="image_cover" value="{{ product.image_cover.id }}">
                            <div class="form-group">
                                <label class="form-label" for="title">عنوان</label>
                                <div class="form-control-wrap">
                                    <input type="text" name="title" class="form-control" id="title"
                                           required=""
                                           placeholder="عنوان" value="{{ product.title }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="type">نوع محصول</label>
                                <div class="form-control-wrap">
                                    <select name="type" id="type" required class="js-select2 select-by-value"
                                            value="{{ product.type }}">
                                        {% for TYPE_OPTION in product.TYPE_OPTIONS %}
                                            <option value="{{ TYPE_OPTION.0 }}">{{ TYPE_OPTION.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="pr-status">وضعیت محصول</label>
                                <div class="form-control-wrap">
                                    <select name="status" id="pr-status" class="js-select2 select-by-value"
                                            value="{{ product.status }}">
                                        {% for STATUS_OPTION in product.STATUS_OPTIONS %}
                                            <option value="{{ STATUS_OPTION.0 }}">{{ STATUS_OPTION.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="pr-category">دسته بندی</label>
                                <div class="form-control-wrap">
                                    <select name="categories" id="pr-category" class="js-select2" multiple>
                                        {% for category in categories %}
                                            <option value="{{ category.id }}"
                                                    {% if category in product.get_categories %}selected{% endif %}>{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="pr-tag">تگ ها</label>
                                <div class="form-control-wrap">
                                    <select name="tags" id="pr-tag" class="js-select2" multiple>
                                        {% for tag in tags %}
                                            <option value="{{ tag.id }}"
                                                    {% if tag in product.get_tags %}selected{% endif %}>{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="pr-attr-category">دسته بندی فیلد ها</label>
                                <div class="form-control-wrap">
                                    <select name="attr_category" id="pr-attrc-ategory"
                                            class="js-select2 select-by-value" value="{{ product.attr_category }}">
                                        {% for attr_category in attr_categories %}
                                            <option value="{{ attr_category.id }}">{{ attr_category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="description">توضیحات</label>
                                <div class="form-control-wrap">
                                    <textarea name="description" id="description"
                                              class="form-control">{{ product.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group text-left mt-5">
                                <button type="submit" class="btn btn-lg btn-success p-1 px-2">
                                    ویرایش محصول
                                    <em class="icon icon-circle ni ni-pen bg-success"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-delete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            حذف کاربر
                        </h5>
                        <a href="#" class="close"
                           data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:basic_product__delete' product_id=product.id %}"
                              class="form-validate is-alter" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="badge-dim bg-danger fs-17px p-2" style="border-radius: 10px">
                                <p>ایا از حذف محصول با نام
                                    <b>{{ product.title|truncatechars:15 }}</b>
                                    اطمینان دارید؟
                                    پس از حذف امکان بازگشت وجود نخواهد داشت و تمام امورات مربوط به ان حذف خواهند شد.
                                </p>
                            </div>
                            <div class="form-group text-left mt-4">
                                <button type="submit" class="btn btn-sm btn-danger p-1 px-2">
                                    بله اطمینان دارم ! حذف محصول
                                    <em class="icon icon-circle ni ni-trash-empty bg-danger"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- app-root @e -->
{% endblock %}


{% block Scripts %}
    <script>
        setPriceSpreadInput('#price', '#label-inventory-price-update', document.getElementById('price').value)
        setPriceSpreadInput('#display-price', '#label-inventory-display-price-update', document.getElementById('display-price').value)

        document.querySelectorAll('.pr-gallery-item').forEach(function (el) {
            let btn_delete = el.querySelector('em')
            if (btn_delete) {
                btn_delete.addEventListener('click', function () {
                    this.parentElement.remove()
                })
            }
        })

        document.querySelectorAll('.text-pending').forEach(function (el) {
            el.classList.add('text-warning')
        })
        document.querySelectorAll('.text-cancelled').forEach(function (el) {
            el.classList.add('text-danger')
        })
        document.querySelectorAll('.text-in_progress').forEach(function (el) {
            el.classList.add('text-info')
        })
        document.querySelectorAll('.text-shipped').forEach(function (el) {
            el.classList.add('text-primary')
        })
        document.querySelectorAll('.text-delivered').forEach(function (el) {
            el.classList.add('text-success')
        })

    </script>
{% endblock %}
