.product-attr-group {
    padding: 25px;
    margin: 15px auto;
    border-radius: 10px;
    border: 1px solid #eee;
    background: #fff;
    position: relative;
}

.product-attr-group-title {
    position: absolute;
    top: -12px;
    right: 8px;
    background: #fff;
}


.product-attr-group img {
    width: 70px;
    height: 70px;
    border-radius: 22px;
    object-fit: cover;
}

.product-attr-field {
    margin: 13px 0;
    border: 1px solid rgba(238, 238, 238, 0.8);
    border-radius: 6px;
    padding: 10px;
    color: #1b204b;
    font-size: 16px;
}

.product-attr-field label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-attr-field .additional-price{
    font-size: 12px;
}

.product-attr-group-style-column{
    text-align: center;
}

.product-attr-group-style-column .product-attr-field{
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #e5e5e5;
}

.product-attr-group-style-column .product-attr-field-title{
    margin-left: 10px;
}
