{% load static %}

<!doctype html>
<html lang="fa" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta name="description" content="شیرینی سرای کندو"/>
    {# TODO: should be completed #}
    <link rel="profile" href="---">
    <link rel="canonical" href="---"/>
    <meta property="og:locale" content="fa_IR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="شیرینی سرای کندو"/>
    <meta property="og:url" content="http://app.candoocomplex.com"/>
    <meta property="og:site_name" content="مجموعه شیرینی سرای کندو"/>
    <meta property="og:image" content="#"/>
    <meta property="og:description" content="مجموعه شیرینی سرای کندو"/>

    <!-- Add site Favicon -->
    <link rel="icon" href="---" sizes="32x32"/>
    <link rel="icon" href="---" sizes="192x192"/>
    <link rel="apple-touch-icon" href="---"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <meta name="msapplication-TileImage" content="---"/>

    <title>{% block Title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'template/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'template/css/jquery-ui.min.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'template/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/notify.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/28.0.0/font-face.css"/>

    <!-- JS -->
    <script src="{% static 'template/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- Structured Data  -->
    <script type="application/ld+json">
        {
            "@context": "../../../https@schema.org\default.htm",
            "@type": "WebSite",
            "name": "Replace_with_your_site_title",
            "url": "Replace_with_your_site_URL"
        }
    </script>

    {% block Link %}
    {% endblock %}

    {% block Style %}
    {% endblock %}
</head>

<body>
{% block Content %}
{% endblock %}

    <script src="{% static 'scripts/urls.js' %}"></script>
    <script src="{% static 'scripts/notify.js' %}"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
    <script>
        window.CSRF_TOKEN = '{{ csrf_token }}'
        {% for message in messages %}
            createNotify({
                title: '{{ message.tags }}' === 'success' ? 'موفق' : 'خطا',
                message: '{{ message }}',
                theme: '{{ message.tags }}'
            })
        {% endfor %}
    </script>

    <script src="{% static 'template/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'template/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'template/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'template/js/slick.min.js' %}"></script>
    {#<script src="{% static 'template/js/owl.carousel.min.js' %}"></script>#}
    <script src="{% static 'template/js/wow.min.js' %}"></script>
    <script src="{% static 'template/js/jquery.scrollup.min.js' %}"></script>
    <script src="{% static 'template/js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'template/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'template/js/mailchimp-ajax.js' %}"></script>
    <script src="{% static 'template/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'template/js/jquery.zoom.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Main JS -->
    <script src="{% static 'template/js/main.js' %}"></script>

    <script>
        {% for message in messages %}
            createNotify({
                title: '{{ message.tags }}' == 'success' ? 'موفق' : 'ارور',
                message: '{{ message }}',
                theme: '{{ message.tags }}'
            })
        {% endfor %}
    </script>
    {% block Script %}
    {% endblock %}

    {% block Js %}
    {% endblock %}
</body>

</html>