{% extends 'dashboard/admin/base/base_template.html' %}

{% block Title %}جزئیات نظر - {{ comment.id }}{% endblock %}


{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- wrap @s -->
            <div class="nk-wrap">
                {% include 'dashboard/user/base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'dashboard/user/base/components/menu-aside.html' %}
                            <!-- .nk-aside -->
                            <div class="nk-content-body">

                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between g-3">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">جزئیات نظر</h3>
                                                <div class="nk-block-des text-soft">
                                                    <nav>
                                                        <ul class="breadcrumb breadcrumb-arrow">
                                                            <li class="breadcrumb-item"><a
                                                                    href="{% url 'dashboard:index' %}">صفحه اصلی</a>
                                                            </li>
                                                            <li class="breadcrumb-item"><a>محصولات</a></li>
                                                            <li class="breadcrumb-item"><a
                                                                    href="{% url 'dashboard:comment__list' %}">لیست
                                                                نظرات </a></li>
                                                            <li class="breadcrumb-item active">
                                                                #
                                                                {{ comment.id }}
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <div class="drodown">
                                                    <a href="#"
                                                       class="dropdown-toggle btn btn-icon btn-secondary px-2 text-center"
                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                        عملیات
                                                        <em class="icon ni ni-setting"></em>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li>
                                                                <button type="button" class="btn text-success"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal-accept">تایید نظر
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="btn text-warning"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal-reject">رد نظر
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="btn text-danger"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal-delete">حذف
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="card card-bordered">
                                            <!-- .nav-tabs -->
                                            <div class="card-inner card-inner-lg">
                                                <!-- .nk-block-head -->
                                                <div class="nk-block">
                                                    <div class="nk-data data-list data-list-s2">
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">کاربر</span>
                                                                <span class="data-value">
                                                                    <a href="{{ comment.user.get_dashboard_absolute_url }}">{{ comment.user.get_full_name }}</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">محصول</span>
                                                                <span class="data-value">
                                                                    <a class="badge badge-dim bg-primary"
                                                                       href="{{ comment.product.get_dashboard_absolute_url }}">{{ comment.user.get_full_name }}</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">وضعیت بررسی</span>
                                                                <span class="data-value">
                                                                    <a class="badge badge-dim bg-{{ comment.status }}">{{ comment.get_status_display }}</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">امتیاز</span>
                                                                <span class="data-value">
                                                                    {{ comment.rate }}
                                                                    <em class="icon ni ni-star text-warning"></em>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">متن نظر</span>
                                                                <span class="data-value">
                                                                    {{ comment.text }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- data-item -->
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">زمان ایجاد</span>
                                                                <span class="data-value">
                                                                    {{ comment.get_created_at_timepast }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="data-item">
                                                            <div class="data-col">
                                                                <span class="data-label">زمان بروزرسانی</span>
                                                                <span class="data-value">
                                                                    {{ comment.get_updated_at_timepast }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- data-list -->
                                                </div>
                                                <!-- .nk-block -->
                                            </div>
                                            <!-- .card-inner -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                                <!-- footer @s -->
                                {% include 'dashboard/user/base/components/footer.html' %}
                                <!-- footer @e -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- modals -->
        <div class="modal fade" tabindex="-1" id="modal-reject">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            رد نظر
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:comment__manage_status' %}"
                              class="form-validate is-alter" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="rejected">
                            <input type="hidden" name="comments" value="{{ comment.id }}">
                            <div class="badge-dim bg-gray fs-17px p-2" style="border-radius: 10px">
                                <p>ایا از انجام این عملیات اطمینان دارید ؟</p>
                            </div>
                            <div class="form-group text-left mt-4">
                                <button type="submit" class="btn btn-lg btn-danger p-1 px-2">
                                    رد نظر
                                    <em class="icon icon-circle ni ni-cross bg-danger"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-accept">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            تایید نظر
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:comment__manage_status' %}"
                              class="form-validate is-alter" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="accepted">
                            <input type="hidden" name="comments" value="{{ comment.id }}">
                            <div class="badge-dim bg-gray fs-17px p-2" style="border-radius: 10px">
                                <p>ایا از انجام این عملیات اطمینان دارید ؟</p>
                            </div>
                            <div class="form-group text-left mt-4">
                                <button type="submit" class="btn btn-lg btn-success p-1 px-2">
                                    تایید نظر
                                    <em class="icon icon-circle ni ni-check bg-success"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="modal-delete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            حذف نظر
                        </h5>
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="بستن">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <form method="post"
                              action="{% url 'dashboard:comment__delete' comment_id=comment.id %}"
                              class="form-validate is-alter" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="badge-dim bg-danger fs-17px p-2" style="border-radius: 10px">
                                <p>ایا از حذف نظر شماره
                                    {{ comment.id }}
                                    اطمینان دارید؟
                                    پس از حذف امکان بازگشت وجود نخواهد داشت.</p>
                            </div>
                            <div class="form-group text-left mt-4">
                                <button type="submit" class="btn btn-lg btn-danger p-1 px-2">
                                    بله اطمینان دارم ! حذف
                                    <em class="icon icon-circle ni ni-trash-empty bg-danger"></em>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
{% endblock %}

{% block Scripts %}
    <script>

        document.querySelectorAll('.bg-accepted').forEach(function (el) {
            el.classList.add('bg-success')
        })
        document.querySelectorAll('.bg-rejected').forEach(function (el) {
            el.classList.add('bg-danger')
        })
        document.querySelectorAll('.bg-pending').forEach(function (el) {
            el.classList.add('bg-warning')
        })
    </script>
{% endblock %}