<div class="nk-footer">
    <div class="container wide-xl">
        <div class="nk-footer-wrap g-2">
            <div class="nk-footer-copyright">
                توسعه با
                <em class="icon ni ni-heart-fill text-danger"></em>
                توسط
                <a target="_blank" rel="nofollow" href="https://smartenco.ir/" style="color: #0abb94;font-weight: bold">Smarten
                    Team</a>
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item">
                        <span>2024@</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>