{% load static %}
<div class="nk-header nk-header-fixed is-light">
    <div class="container-lg wide-xl">
        <div class="nk-header-wrap">
            <div class="nk-header-brand">
                <a href="{% url 'dashboard:index' %}" class="logo-link">

                    <img class="logo-light logo-img" src="{% static 'images/candoo-logo.png' %}"
                         srcset="{% static 'images/logo-gold.png' %}" alt="لوگو"/>

                    <img class="logo-dark logo-img" src="{% static 'images/candoo-logo.png' %}"
                         srcset="{% static 'images/candoo-logo.png' %}" alt="لوگوی تاریک"/>

                </a>
            </div>
            <!-- .nk-header-brand -->
            <div class="nk-header-menu">
                <ul class="nk-menu nk-menu-main">
                    <li class="nk-menu-item">
                        <a href="{% url 'dashboard:index' %}" class="nk-menu-link">
                            <span class="nk-menu-text">صفحه اصلی</span>
                        </a>
                    </li>
                    <!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-text">دسترسی سریع</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard:basic_product__create' %}" class="nk-menu-link"><span
                                        class="nk-menu-text">ایجاد محصول</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard:order__list' %}" class="nk-menu-link"><span
                                        class="nk-menu-text">لیست سفارشات</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard:custom_product__list' %}" class="nk-menu-link"><span
                                        class="nk-menu-text">لیست سفارشات دلخواه</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard:factor_cake_image__list' %}" class="nk-menu-link"><span
                                        class="nk-menu-text"> لیست عکس های فاکتور</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'dashboard:user__list' %}" class="nk-menu-link"><span
                                        class="nk-menu-text">لیست کاربران</span></a>
                            </li>
                        </ul>
                        <!-- .nk-menu-sub -->
                    </li>
                    <!-- .nk-menu-item -->
                </ul>
                <!-- .nk-menu -->
            </div>
            <!-- .nk-header-menu -->
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <!-- .dropdown -->
                    <li class="dropdown notification-dropdown">
                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                            <div class="icon-status {% if user.have_unread_notification %}icon-status-info{% endif %}">
                                <em class="icon ni ni-bell"></em>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                            <div class="dropdown-head">
                                <span class="sub-title nk-dropdown-title">اعلانات</span>
                            </div>
                            <div class="dropdown-body">
                                <div class="nk-notification">
                                    {% for notificaiton in user.get_unread_notifications|slice:':8' %}
                                        <div class="nk-notification-item dropdown-inner">
                                            <a href="{{ notificaiton.get_dashboard_absolute_url }}">
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">
                                                        {{ notificaiton.title|truncatechars:20 }}
                                                    </div>
                                                    <div class="nk-notification-time">{{ notificaiton.get_created_at_timepast }}</div>
                                                </div>
                                            </a>
                                        </div>
                                        {% empty %}
                                        <div class="m-3 my-5 text-center text-gray">
                                            <h6>شما اعلان نخوانده ای ندارید</h6>
                                        </div>
                                    {% endfor %}

                                </div>
                                <!-- .nk-notification -->
                            </div>
                            <!-- .nk-dropdown-body -->
                            <div class="dropdown-foot center">
                                <a href="{% url 'dashboard:notification_user_personal__list' %}">مشاهده همه</a>
                            </div>
                        </div>
                    </li>
                    <!-- .dropdown -->
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle me-lg-n1" data-bs-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm">
                                    <em class="icon ni ni-user-alt"></em>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-avatar">
                                        <span>
                                            <img src="{{ user.get_image_url }}" alt="{{ user.get_full_name }}">
                                        </span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">{{ user.get_full_name }}</span>
                                        <span class="sub-text">{{ user.get_raw_phonenumber }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li>
                                        <a href="{% url 'dashboard:notification_user_personal__list' %}"><em
                                                class="icon ni ni-notice"></em><span>اعلانات</span></a>
                                    </li>
                                    <li>
                                        <a class="dark-switch" href="#"><em
                                                class="icon ni ni-moon"></em><span>حالت تاریک</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li>
                                        <a href="{% url 'account:logout' %}"><em
                                                class="icon ni ni-signout"></em><span>خروج</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- .dropdown -->
                    <li class="d-lg-none">
                        <a href="#" class="toggle nk-quick-nav-icon me-n1" data-target="sideNav"><em
                                class="icon ni ni-menu"></em></a>
                    </li>
                </ul>
                <!-- .nk-quick-nav -->
            </div>
            <!-- .nk-header-tools -->
        </div>
        <!-- .nk-header-wrap -->
    </div>
    <!-- .container-fliud -->
</div>