{% load static %}
<footer>
    <section class="content-footer p-3">
        <div class="container">
            <div class="d-flex flex-wrap">
                <div class="col-12 col-md-4 p-1">
                    <div class="">
                        <h4>تماس با ما </h4>
                        <div>کرمان، بلوار جهاد، نبش کوچه 24</div>
                        <div>034-32470806</div>
                        <div>info@candoocomplex.com</div>
                    </div>
                </div>
                <div class="col-12 p-1 col-md-4 d-flex justify-content-center items-center flex-column">
                    <div class="">
                        <p>مارادرشبکه های اجتماعی دنبال کنید</p>
                        <div>
                            <span class="p-1"><a href="#"><i class="fab fa-instagram "></i></a></span>
                            <span class="p-1"><a href="#"><i class="fab fa-telegram "></i></a></span>
                            <span class="p-1"><a href="#"><i class="fab fa-whatsapp "></i></a></span>
                        </div>

                    </div>
                </div>
                <div class="col-12 p-1 col-md-4 ">
                    <div class="d-flex justify-content-end">
                        <img src="{% static 'images/ENAMADpng.parspng.com_.png' %}" alt="" class="w-25">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between bottom-footer font-80">
                <div class="col-12 col-md-6 copy-wright">تمام حقوق مادی و معنوی این وبسایت برای مجموعه شیرینی کندو می
                    باشد
                </div>
                <div class="col-12 col-md-6">
                    طراحی و توسعه با
                    <i class="ion-heart text-danger"></i>
                    توسط
                    <a href="https://smartenco.ir" style="color: #04f6e3">Smarten Team</a>
                </div>
            </div>
        </div>
    </section>
</footer>