{% load static %}

<div class="body_overlay">

</div>

{% include 'base/components/menu-aside.html' %}

<header class="header_section" dir="ltr">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_header d-flex justify-content-between align-items-center">
                    <div class="header_logo">
                        <a class="sticky_none" href="index.html"><img src="{% static 'template/img/logo/logo.png' %}"
                                                                      alt=""></a>
                    </div>
                    <!--main menu start-->
                    <div class="main_menu d-none d-lg-block" >
                        <nav dir="rtl">
                            <ul class="d-flex">
                                <li>
                                    <a class="active" href="{% url 'public:home' %}">خانه</a>
                                </li>
                                <li><a href="{% url 'product:basic_product__list' %}">محصولات</a></li>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="#">صفحات</a>
                                    <ul class="bucker-dropdown">
                                        <li><a href="{% url 'product:factor_cake_image__create' %}">بارگذاری تصویر کیک</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'product:custom_product__create' %}">محصول دلخواه</a></li>
                                <li><a href="blog-left-sidebar.html">بلاگ</a>
                                    <ul class="bucker-dropdown">
                                        <li class="submenu-holder"><a href="#">Blog Holder</a>
                                            <ul class="submenu">
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                                <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-list-right-sidebar.html">Blog List Right
                                                    Sidebar</a>
                                                </li>
                                                <li><a href="blog-list-fullwidth.html">Blog List Fullwidth</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-holder"><a href="#">Blog Details Holder</a>
                                            <ul class="submenu">
                                                <li><a href="blog-detail-fullwidth.html">Blog Detail Fullwidth</a>
                                                </li>
                                                <li><a href="blog-detail-left-sidebar.html">Blog Detail Left
                                                    Sidebar</a></li>
                                                <li><a href="blog-detail-right-sidebar.html">Blog Detail Right
                                                    Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">تماس با ما</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--main menu end-->
                    <div class="header_account">
                        <ul class="d-flex">

                            {% if user.is_authenticated %}
                                <li ><a href="{% url 'dashboard:index' %}"><i
                                        class="fal fa-user"></i></a></li>
                            {% else %}
                                <li><a href="{% url 'account:login_register' %}"><i
                                        class="fal fa-sign-in-alt"></i></a></li>
                            {% endif %}
                            <li class="header_wishlist"><a href="javascript:void(0)"><i class="fal fa-heart"></i></a>
                                <span class="item_count">{{ wishlist.get_products.count }}</span>
                            </li>
                            <li class="shopping_cart2"><a href="{% url 'public:cart' %}"><i class="fal fa-shopping-cart"></i></a>
                                <span class="item_count">{{ cart.get_all_products_count }}</span>
                            </li>
                        </ul>

                        <div class="canvas_open">
                            <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>