{% extends 'dashboard/admin/base/base_template.html' %}

{% block Title %}لیست محصولات دلخواه{% endblock %}

{% block Content %}
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <!-- wrap @s -->
            <div class="nk-wrap">
                {% include 'dashboard/user/base/components/header.html' %}
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'dashboard/user/base/components/menu-aside.html' %}
                            <!-- .nk-aside -->
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">لیست محصولات دلخواه</h3>
                                                <nav>
                                                    <ul class="breadcrumb breadcrumb-arrow">
                                                        <li class="breadcrumb-item"><a
                                                                href="{% url 'dashboard:index' %}">صفحه اصلی</a></li>
                                                        <li class="breadcrumb-item"><a>محصولات</a></li>
                                                        <li class="breadcrumb-item active">لیست محصولات دلخواه</li>
                                                    </ul>
                                                </nav>
                                                <div class="nk-block-des text-soft mt-2">
                                                    <p>شما
                                                        <span class="separate-el">{{ total_count }}</span>
                                                        محصول دلخواه دارید.</p>
                                                </div>
                                            </div>
                                            <!-- .nk-block-head-content -->
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                                       data-target="pageMenu"><em
                                                            class="icon ni ni-menu-alt-r"></em></a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                            <li class="nk-block-tools-opt">
                                                                <div class="drodown">
                                                                    <a href="#"
                                                                       class="dropdown-toggle btn btn-white btn-outline-light"
                                                                       data-bs-toggle="dropdown">
                                                                        <em
                                                                                class="icon ni ni-download-cloud"></em>
                                                                        <span>خروجی گرفتن</span>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-end">
                                                                        <ul class="link-list-opt no-bdr">
                                                                            <li>
                                                                                <a href="#"><span>خروجی اکسل</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- .toggle-wrap -->
                                            </div>
                                            <!-- .nk-block-head-content -->
                                        </div>
                                        <!-- .nk-block-between -->
                                    </div>
                                    <!-- .nk-block-head -->
                                    <div class="nk-block">
                                        <div class="card card-bordered card-stretch">
                                            <div class="card-inner-group">
                                                <div class="card-inner position-relative card-tools-toggle">
                                                    <div class="card-title-group">
                                                        <div class="card-tools">
                                                            <!-- .form-inline -->
                                                        </div>
                                                        <!-- .card-tools -->
                                                        <div class="card-tools me-n1">
                                                            <ul class="btn-toolbar gx-1">
                                                                <li>
                                                                    <a href="#"
                                                                       class="btn btn-icon search-toggle toggle-search"
                                                                       data-target="search"><em
                                                                            class="icon ni ni-search"></em>
                                                                        {% if request.GET.search %}
                                                                            <div class="dot dot-primary"></div>
                                                                        {% endif %}
                                                                    </a>
                                                                </li>
                                                                <!-- li -->
                                                                <li class="btn-toolbar-sep"></li>
                                                                <!-- li -->
                                                                <li>
                                                                    <div class="toggle-wrap">
                                                                        <a href="#"
                                                                           class="btn btn-icon btn-trigger toggle"
                                                                           data-target="cardTools"><em
                                                                                class="icon ni ni-menu-right"></em></a>
                                                                        <div class="toggle-content"
                                                                             data-content="cardTools">
                                                                            <ul class="btn-toolbar gx-1">
                                                                                <li class="toggle-close">
                                                                                    <a href="#"
                                                                                       class="btn btn-icon btn-trigger toggle"
                                                                                       data-target="cardTools"><em
                                                                                            class="icon ni ni-arrow-left"></em></a>
                                                                                </li>
                                                                                <!-- li -->
                                                                                <li>
                                                                                    <div class="dropdown">
                                                                                        <a href="#"
                                                                                           class="btn btn-trigger btn-icon dropdown-toggle"
                                                                                           data-bs-toggle="dropdown">
                                                                                            {% if request.GET.filter %}
                                                                                                <div class="dot dot-primary"></div>
                                                                                            {% endif %}
                                                                                            <em class="icon ni ni-filter-alt"></em>
                                                                                        </a>

                                                                                        <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                                                            <div class="dropdown-head">
                                                                                                <span class="sub-title dropdown-title">فیلتر محصولات دلخواه</span>
                                                                                            </div>
                                                                                            <div class="dropdown-body dropdown-body-rg">
                                                                                                <form>
                                                                                                    <input type="hidden"
                                                                                                           name="filter"
                                                                                                           value="true">
                                                                                                    <div class="row gx-6 gy-3">
                                                                                                        <div class="col-6">
                                                                                                            <div class="form-group">
                                                                                                                <label class="overline-title overline-title-alt">وضعیت</label>
                                                                                                                <select class="form-select js-select2 select-by-filter"
                                                                                                                        name="status__status">
                                                                                                                    <option value="all">
                                                                                                                        همه
                                                                                                                    </option>
                                                                                                                    <option value="pending">
                                                                                                                        نیاز
                                                                                                                        به
                                                                                                                        بررسی
                                                                                                                    </option>
                                                                                                                    <option value="accepted">
                                                                                                                        تایید
                                                                                                                        شده
                                                                                                                    </option>
                                                                                                                    <option value="rejected">
                                                                                                                        رد
                                                                                                                        شده
                                                                                                                    </option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div class="col-6">
                                                                                                            <div class="form-group">
                                                                                                                <label class="overline-title overline-title-alt">نوع</label>
                                                                                                                <select class="form-select js-select2 select-by-filter"
                                                                                                                        name="type">
                                                                                                                    <option value="all">
                                                                                                                        همه
                                                                                                                    </option>
                                                                                                                    <option value="picture_on">
                                                                                                                        عکس
                                                                                                                        تصویر
                                                                                                                    </option>
                                                                                                                    <option value="model_on">
                                                                                                                        عکس
                                                                                                                        مدل
                                                                                                                    </option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div class="col-12">
                                                                                                            <div class="form-group text-end">
                                                                                                                <button type="submit"
                                                                                                                        class="btn btn-secondary">
                                                                                                                    فیلتر
                                                                                                                </button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                            <div class="dropdown-foot between">
                                                                                                <a class="clickable"
                                                                                                   href="{% url 'dashboard:custom_product__list' %}">بازنشانی
                                                                                                    فیلتر</a>
                                                                                            </div>
                                                                                        </div>

                                                                                        <!-- .filter-wg -->
                                                                                    </div>
                                                                                    <!-- .dropdown -->
                                                                                </li>
                                                                            </ul>
                                                                            <!-- .btn-toolbar -->
                                                                        </div>
                                                                        <!-- .toggle-content -->
                                                                    </div>
                                                                    <!-- .toggle-wrap -->
                                                                </li>
                                                                <!-- li -->
                                                            </ul>
                                                            <!-- .btn-toolbar -->
                                                        </div>
                                                        <!-- .card-tools -->
                                                    </div>
                                                    <!-- .card-title-group -->
                                                    <form>
                                                        <div class="card-search search-wrap" data-search="search">

                                                            <div class="card-body">
                                                                <div class="search-content">
                                                                    <a href="#"
                                                                       class="search-back btn btn-icon toggle-search"
                                                                       data-target="search"><em
                                                                            class="icon ni ni-arrow-left"></em></a>
                                                                    <input type="text" name="search"
                                                                           class="form-control border-transparent form-focus-none"
                                                                           value="{{ request.GET.search }}"
                                                                           placeholder="جستجو"/>
                                                                    <button class="search-submit btn btn-icon"><em
                                                                            class="icon ni ni-search"></em></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- .card-search -->
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="card-inner p-0 text-center">
                                                    <div class="nk-tb-list nk-tb-ulist">
                                                        <div class="nk-tb-item nk-tb-head">
                                                            <div class="nk-tb-col nk-tb-col-check">
                                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                    <input type="checkbox" class="custom-control-input"
                                                                           id="cid"/>
                                                                    <label class="custom-control-label"
                                                                           for="cid"></label>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col"><span class="sub-text">#</span></div>
                                                            <div class="nk-tb-col tb-col-sm"><span
                                                                    class="sub-text">نوع</span></div>
                                                            <div class="nk-tb-col tb-col-md"><span class="sub-text">تاریخ دریافت</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-xl"><span class="sub-text">فیلد ها</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md"><span class="sub-text">وضعیت</span>
                                                            </div>
                                                            <div class="nk-tb-col text-end"><span class="sub-text">اقدامات</span>
                                                            </div>
                                                        </div>
                                                        {% for custom_product in object_list %}
                                                            <!-- .nk-tb-item -->
                                                            <div class="nk-tb-item">
                                                                <div class="nk-tb-col nk-tb-col-check">
                                                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                        <input type="checkbox"
                                                                               class="custom-control-input action-checkbox"
                                                                               data-custom-product-id="{{ custom_product.id }}"
                                                                               id="cid-{{ forloop.counter }}"/>
                                                                        <label class="custom-control-label"
                                                                               for="cid-{{ forloop.counter }}"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="nk-tb-col">
                                                                    <a href="{{ custom_product.get_dashboard_absolute_url }}">
                                                                        #{{ custom_product.id }}
                                                                    </a>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-sm">
                                                                    <span class="sub-text">
                                                                        {{ custom_product.get_type_display }}
                                                                    </span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="sub-text font-70">
                                                                       {{ custom_product.receipt_date|default:'-' }}
                                                                    </span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-xl">
                                                                    <span class="sub-text">
                                                                        {% for attr_selected in custom_product.get_attributes|slice:':3' %}
                                                                            <a class="badge badge-dim bg-azure" href="{{ attr_selected.attr.get_dashboard_absolute_url }}">{{ attr_selected.attr.name|truncatechars:10 }}</a>
                                                                        {% endfor %}
                                                                        {% if custom_product.get_attributes.count > 3 %}
                                                                            <span class="fs-18px">...</span>
                                                                        {% endif %}
                                                                    </span>
                                                                </div>
                                                                <div class="nk-tb-col tb-col-md">
                                                                    <span class="tb-status badge badge-dim bg-{{ custom_product.status.status }} fs-11px">{{ custom_product.status.get_status_display }}</span>
                                                                </div>
                                                                <div class="nk-tb-col nk-tb-col-tools">
                                                                    <ul class="nk-tb-actions gx-1">
                                                                        <li>
                                                                            <div class="drodown">
                                                                                <a href="#"
                                                                                   class="dropdown-toggle btn btn-icon btn-trigger"
                                                                                   data-bs-toggle="dropdown"><em
                                                                                        class="icon ni ni-more-h"></em></a>
                                                                                <div class="dropdown-menu dropdown-menu-end">
                                                                                    <ul class="link-list-opt no-bdr">
                                                                                        <li>
                                                                                            <a href="{{ custom_product.get_dashboard_absolute_url }}"><em
                                                                                                    class="icon ni ni-eye"></em><span>مشاهده جزئیات</span></a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a href="{{ custom_product.user.get_dashboard_absolute_url }}"><em
                                                                                                    class="icon ni ni-eye"></em><span>مشاهده کاربر</span></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            {% empty %}
                                                            <div class="container-not-found-base nk-tb-item">
                                                                <div class="nk-tb-col">
                                                                    <p>چیزی یافت نشد</p>
                                                                </div>
                                                            </div>
                                                            <!-- .nk-tb-item -->
                                                        {% endfor %}
                                                    </div>
                                                    <!-- .nk-tb-list -->
                                                </div>
                                                <!-- .card-inner -->
                                                <div class="card-inner">
                                                    <div class="nk-block-between-md">
                                                        <div class="g">
                                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                                {% if page_obj.has_previous %}
                                                                    <li class="page-item"><a
                                                                            class="page-link add-params-to-href"
                                                                            href="?page=1">اول</a>
                                                                    </li>
                                                                    <li class="page-item"><a
                                                                            class="page-link add-params-to-href"
                                                                            href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                                                                    </li>
                                                                {% endif %}

                                                                <span class="fs-13px mt-1 mx-2">
                                                                        صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
                                                                </span>

                                                                {% if page_obj.has_next %}
                                                                    <li class="page-item"><a
                                                                            class="page-link add-params-to-href"
                                                                            href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                                                    </li>
                                                                    <li class="page-item"><a
                                                                            class="page-link add-params-to-href"
                                                                            href="?page={{ page_obj.paginator.num_pages }}">اخرین</a>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                            <!-- .pagination -->
                                                        </div>

                                                        <!-- .pagination-goto -->
                                                    </div>
                                                    <!-- .nk-block-between -->
                                                </div>
                                                <!-- .card-inner -->
                                            </div>
                                            <!-- .card-inner-group -->
                                        </div>
                                        <!-- .card -->
                                    </div>
                                    <!-- .nk-block -->
                                </div>
                                <!-- footer @s -->
                                {% include 'dashboard/user/base/components/footer.html' %}
                                <!-- footer @e -->
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
{% endblock %}

{% block Scripts %}
    <script>
        document.querySelectorAll('.bg-accepted').forEach(function (el) {
            el.classList.add('bg-success')
        })
        document.querySelectorAll('.bg-rejected').forEach(function (el) {
            el.classList.add('bg-danger')
        })
        document.querySelectorAll('.bg-pending').forEach(function (el) {
            el.classList.add('bg-warning')
        })
    </script>
{% endblock %}
