{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    سبد خرید
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/vendors/bootstrap.min.css' %}"/>

    <!-- SWIPER -->
    <link rel="stylesheet" href="{% static 'frontend/vendors/swiper.css' %}"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'frontend/styles/basket-shoping.css' %}"/>

    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block Style %}
    <style>
        .detail-item input {
            text-align: left;
            color: #777;
        }

        .main .order:not(.active) {
            display: none !important;
        }

        .order-status-label {
            padding: 5px 6px;
            border-radius: 7px;
            border: 1px solid #f0f0f0;
            text-align: center;
            width: 100px;
            font-size: 90%;
            color: #fff;
        }

        .checking {
            background: #eaaf2d;
        }

        .accepted {
            background: #53ccba;
        }

        .send {
            background: #194cdc;
        }

        .delivered {
            background: #00eb67;
        }

    </style>
{% endblock %}

{% block Content %}
    <body>

    {% for cart in user.get_archived_carts %}
        <div class="content-modal" id="modal-Order-details">
            <div class="inner-modal">
                <div class="content">
                    <header class="header-m-oprator">
                        <div class="title">
                            <span class="back"><img src="{% static 'frontend/images/black.f.png' %}" alt="icon"></span>
                            <h6>جزئیات سفارش</h6>
                        </div>
                        <div class="line"></div>
                    </header>
                    <div class="content-price active">
                        <section class="category-price p-1">
                            <div class="col-12 px-1 py-1">
                                <div class="price-item ">
                                    <div class="col-12 detail">
                                        <div class="col-12 detail-item p-2">
                                            <label class=" col-4">کد رهگیری:</label>
                                            <input class="col-8" type="text" name="code" id="code-rahgiri"
                                                   placeholder="45880215" value="{{ cart.get_track_code }}" disabled>
                                        </div>
                                        <div class="col-12 detail-item p-2">
                                            <label class=" col-4">تاریخ و زمان سفارش:</label>
                                            <input class="col-8" type="text" name="value-date" id="date-kharid"
                                                   placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                                   value="{{ cart.factor.created_at }}" disabled>
                                        </div>
                                        <div class="col-12 detail-item p-2">
                                            <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                            <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                                   placeholder="نام ونام خانوادگی 09122254545"
                                                   value="{{ cart.get_receiver_user_info }}" disabled>
                                        </div>
                                        <div class="col-12 detail-item p-2">
                                            <input class="col-12 adres" type="text" name="value-address" id="address"
                                                   placeholder="کرمان،نرسیده به بلوار،خیابان فیروزه جنب مطب قهاری،پلاک25"
                                                   value="{{ cart.factor.address.address }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}



    <div class="container-fluid container-admin" style="position:relative ;">

        <!-- START MENU-BOTTOM -->
        {% include 'base/menu-mobile.html' %}
        <!-- END MENU-BOTTOM -->

        <!-- START MAIN -->
        <main class="main">
            <div class="header">
                <div class="btn-top">
                    <div class="col-6 mx-0 py-2 btn-change">
                        <div class="pt-2 btn-orders active  ">
                            سفارش های فعال
                        </div>

                    </div>
                    <div class="col-6 mx-0 py-2 btn-change">
                        <div class="pt-2 btn-orders">
                            سفارش های قبلی
                        </div>
                    </div>
                </div>
            </div>

            {% with orders=user.get_or_create_cart.get_orders custom_orders=user.get_or_create_cart.get_custom_orders %}
                {% if orders.count > 0 or custom_orders.count > 0 %}
                    <div class="order active">
                        <section class="category-product p-2 col-12">
                            <!-- start -->
                            {% for order in orders %}
                                <div class="col-12 col-md-6 p-2 ">
                                    <div class="product-item">
                                        <div class="col-4 col-md-4 height">
                                            <a href="{{ order.product.get_absolute_url }}">
                                                <div class="img-product">
                                                    <img src="{{ order.product.get_image_url }}"
                                                         alt="{{ order.product.name }}">
                                                </div>
                                            </a>
                                            <div class="img-zarb mt-2"
                                                 style="background: rgba(0,0,0,0.35);padding: 3px;border-radius: 5px">
                                                <a href="{% url 'product:cart_remove_order' order_id=order.id %}">
                                                    <img src="{% static 'frontend/images/zarb.png' %}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4 col-md-4 moshakhaseh">
                                            <div class="name-sweet">
                                                <a href="{{ order.product.get_absolute_url }}">{{ order.product.name }}</a>
                                            </div>
                                            <a href="#">
                                                <div class="the-details">{{ order.product.description }}</div>
                                            </a>
                                        </div>
                                        <div class="col-3 p-2 price">
                                            <div class="price-value">
                                                <h4 class="mb-0 price-el">{{ order.product.price }}</h4>
                                                <p class="text">هزارتومان</p>
                                            </div>
                                            <!-- TODO count order product will completed in future -->
                                            <div class="price-item d-none">
                                                <div class="plus">
                                                    <img src="{% static 'frontend/images/icon/plus-b.png' %}">
                                                </div>
                                                <div class="number">1</div>
                                                <div>
                                                    <img src="{% static 'frontend/images/icon/trash-b.png' %}">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                            {% for order in custom_orders %}
                                <div class="col-12 col-md-6 p-2 ">
                                    <div class="product-item">
                                        <div class="col-4 col-md-4 height">
                                            <div class="img-product">
                                                <img src="{{ order.get_image_cover.get_image_url }}"
                                                     alt="سفارش دلخواه">
                                            </div>
                                            <div class="img-zarb mt-2"
                                                 style="background: rgba(0,0,0,0.35);padding: 3px;border-radius: 5px">
                                                <a href="{% url 'product:cart_remove_custom_order' order_id=order.id %}">
                                                    <img src="{% static 'frontend/images/zarb.png' %}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4 col-md-4 moshakhaseh">
                                            <div class="name-sweet">سفارش دلخواه</div>
                                            <a href="#">
                                                <div class="the-details">{{ order.description }}</div>
                                            </a>
                                        </div>
                                        <div class="col-3 p-2 price">
                                            <div class="price-value">
                                                <h4 class="mb-0 price-el">{{ order.price }}</h4>
                                                <p class="text">هزارتومان</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                        <div class="col-12 p-2 content-wallet">
                            <div class="line"></div>
                            <!--start content wallet  -->
                            <section class="Wallet ">
                                <!-- TODO wallet and discount will completed in future -->
                                <div class="col-12 d-none">
                                    <div class="Wallet-item p-2">
                                        <div class="col-12 item p-2">
                                            <div class="col-9 Wallet-credit">
                                                <div class="col-1 image">
                                                    <img src="./assets/images/wallet (1).png">
                                                </div>
                                                <div class="col-10 Validity p-1">
                                                    <div>
                                                        <span id="text-etebar">اعتبار کیف پول</span>

                                                    </div>
                                                    <div class="text">
                                                        <span>86,000تومان</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3" style="display: flex;">
                                                <div class="desired-package" onclick="validate()">
                                                    <label class="btn-package-desired">
                                                        <input class="inpute-checkbox" type="checkbox" id="check-input">
                                                        <span class="circle-in" id="small-circle"></span>
                                                        <span class="circle-out" id="circle-bironi"></span>

                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 item p-2">
                                            <div class="col-7 Wallet-credit">
                                                <div class="col-1 image">
                                                    <img src="./assets/images/pic9.png">
                                                </div>
                                                <div class="col-10 Validity p-1">
                                                    <div class="text">
                                                        <span>کد تخفیف</span>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-5">
                                                <div class="code">
                                                    <div class="col-6 right p-1">

                                                        <input type="text" name="value-code" id="check-code"
                                                               placeholder="کد را وارد کنید">
                                                    </div>
                                                    <div class="col-6 left p-1">
                                                        <span>بررسی کد</span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </section>
                            <!--end content wallet  -->
                            <div class="line"></div>
                            <!--start content list wallet  -->
                            <section class="list">
                                <div class="col-12 ">
                                    <div class="content-list p-2">
                                        <div class="col-12 p-2">
                                            <div class="list-item">
                                                <span>قیمت کالا ها</span>
                                                <div>
                                                    <span class="price-el">{{ user.cart.get_total_price }}</span>
                                                    <span>تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 p-2">
                                            <div class="list-item">
                                                <span>تخفیف کالا ها</span>
                                                <span>0</span>
                                            </div>
                                        </div>
                                        <div class="col-12 border-b p-2">
                                            <div class="list-item">
                                                <span>جمع سبد خرید</span>
                                                <div>
                                                    <span class="price-el">{{ user.cart.get_total_price }}</span>
                                                    <span>تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 p-2">
                                            <div class="list-item fs-5">
                                                <div class="col-5 kif-pol">
                                                    <i class="fa fa-credit-card"></i>
                                                    <span>مبلغ قابل پرداخت</span>

                                                </div>
                                                <div>
                                                    <span class="price-el">{{ user.cart.get_total_price }}</span>
                                                    <span>تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--end content list wallet  -->
                        </div>


                        <!-- start btn bottom -->
                        <div class="footer">
                            <div class="row p-2 footer-item">
                                <div class="col-5 col-md-2 col-sm-3 btn-bottom">
                                    <div class=" p-1 text-btn">
                                        <a href="{% url 'product:cart_process_payment' %}">
                                            اقدام به پرداخت
                                        </a>
                                    </div>

                                </div>
                                <div class=" col-3 col-md-2 g-0 txt-left ">
                                    <div>
                                        <p class="fs-6">جمع سبد خرید</p>
                                        <div class="fs-5">
                                            <span class="price-el">{{ user.cart.get_total_price }}</span>
                                            <span>تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- end btn bottom -->
                    </div>
                {% else %}
                    <div class="order active container-not-found-base" style="display:block;">
                        <img src="{% static 'frontend/images/empty-cart.png' %}" alt="empty cart"
                             style="width: 160px;height: auto">
                        <p class="mt-4">سبد خرید شما خالی است</p>
                    </div>
                {% endif %}
            {% endwith %}

            <div class="order text-center">
                <section class="Previous-orders col-12">
                    {% for cart in user.get_archived_carts %}
                        <div class="col-12 col-md-6 p-2" id="order-content" style="border: 1px solid #eee">
                            <div class="content-orders bottomborder">
                                <div class="col-12 Tracking-Code p-2">
                                    <div class="col-7 tracking">
                                        <label class="col-5">کد رهگیری</label>
                                        <input class="col-7" name="code-rahgiri" id="Track-code" type="text"
                                               placeholder="45880215" value="{{ cart.get_track_code }}" disabled>
                                    </div>
                                    <div class="col-5 date">
                                        <span>
                                            {{ cart.factor.get_created_at_timepast }}
                                            <span class="font-70">({{ cart.factor.created_at }})</span>
                                        </span>
                                    </div>

                                </div>
                                <div class="col-12 images p-2">
                                    <div class="col-9 image-item p-2 overflow-auto">
                                        {% for order in cart.get_orders %}
                                            <div class="col-3 p-2">
                                                <img src="{{ order.product.get_image_url }}"
                                                     alt="{{ order.product.name }}" title="{{ order.product.name }}">
                                            </div>
                                        {% endfor %}
                                        {% for order in cart.get_custom_orders %}
                                            <div class="col-3 p-2">
                                                <img src="{{ order.get_image_cover.get_image_url }}"
                                                     alt="سفارش دلخواه {{ forloop.counter }}"
                                                     title="سفارش دلخواه {{ forloop.counter }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-3 left-item p-2">
                                        <div class="price-value">
                                            <h4 class="mb-0 price-el">{{ cart.factor.price }}</h4>
                                            <p class="text">هزارتومان</p>
                                        </div>
                                        <div class="order-status-label {{ cart.cartstatus.status }}">
                                            {{ cart.cartstatus.get_status_label }}
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="{{ cart.get_absolute_url }}" class="btn btn-primary col-12">جزئیات</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="container-not-found-base">
                            <p>چیزی یافت نشد</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </main>
    </div>
    </body>
{% endblock %}

{% block Script %}

    <!--BOOTSTRAP -->
    <script src="{% static 'frontend/vendors/bootstrap.min.js' %}"></script>

    <!-- MAIN JS -->
    <script src="{% static 'frontend/js/basket-shoping.js' %}"></script>
{% endblock %}