{% extends 'base/base_template.html' %}
{% load render_partial %}
{% load static %}

{% block Title %}
    بارگذاری تصاویر فاکتور
{% endblock %}

{% block Style %}
    <style>
        .container-field-image-additional{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin: 10px;
        }

        .container-field-image-additional .btn-delete-image-field{
            font-size: 16px;
            cursor: pointer;
        }

        .container-field-image-additional input{
            padding: 8px;
        }

    </style>
{% endblock %}


{% block Content %}

    <!--header area start-->
    {% render_partial 'apps.public.components.HeaderComponentView' %}

    <section class="breadcrumb">
        <li>
            <a href="{% url 'public:home' %}">خانه</a>
        </li>
        <li>صفحات</li>
        <li>
            <a href="">باگذاری تصویر کیک</a>
        </li>
    </section>

    <div class="contact_page_section mb-100">
        <div class="container">
            <div class="contact_details">
                <div class="">
                    <div class="col-12">
                        <div class="contact_form col-12 col-md-8 col-lg-7 mx-auto"
                             data-bgimg="assets/img/others/contact-form-bg-shape.png">
                            <h2>بارگذاری تصویر فاکتور کیک</h2>
                            <form id="contact-form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form_input">
                                    <input name="user_name" placeholder="نام بر روی فاکتور*" type="text" required>
                                </div>
                                <div class="form_input">
                                    <input name="factor_code" placeholder="کد فاکتور*" type="text" required>
                                </div>
                                <div class="form_input mb-4 container-image-fields">
                                    <span class="font-80">تصویر</span>
                                    <div class="d-flex justify-content-between">
                                        <input name="images" class="form-control p-2 mb-0"
                                               type="file"
                                               required accept="image/*">
                                        <div id="btn-add-image-field" class="p-2 text-success" style="cursor: pointer">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_textarea">
                                    <textarea name="description" placeholder="توضیحات"></textarea>
                                </div>
                                <div class="form_input_btn text-left">
                                    <button type="submit" class="btn btn-link">بارگذاری و ثبت</button>
                                </div>
                                <p class="form-message"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area start-->
    {% include 'base/components/footer.html' %}
    <!--footer area end-->


{% endblock %}

{% block Script %}
    <script>
        let btn_add_image_field = document.querySelector('#btn-add-image-field')
        let container_image_fields = document.querySelector('.container-image-fields')
        btn_add_image_field.addEventListener('click', function () {
            let cnt_field = document.createElement('div')
            cnt_field.className = 'container-field-image-additional form_input'
            cnt_field.innerHTML = `
                        <input type="file" class="m-0 form-control" name="images" required>
                        <i class="btn-delete-image-field fa fa-trash text-danger"></i>
                    `
            container_image_fields.appendChild(cnt_field)
            cnt_field.querySelector('.btn-delete-image-field').addEventListener('click', function () {
                this.parentElement.remove()
            })
        })
    </script>
{% endblock %}
