{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    سفارش
    #{{ cart.id }}
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'frontend/vendors/bootstrap.min.css' %}"/>

    <!-- SWIPER -->
    <link rel="stylesheet" href="{% static 'frontend/vendors/swiper.css' %}"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'frontend/styles/Order-details.css' %}"/>


    <!-- AXIOS PACKAGE -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block Style %}
    <style>
        .status-type {
            font-size: 110%;
            color: #bbb;
        }

        .status-type.active {
            color: rgba(234, 175, 45, 1);
        }

        .status-type > div {
            display: inline-block;
        }

        input {
            text-align: left;
            color: #777;
        }

    </style>
{% endblock %}

{% block Content %}
    <body>

    <!-- start modal Order details -->
    <div class="content-modal" id="modal-Order-details">
        <div class="inner-modal">
            <div class="content">
                <div class="content-price active">
                    <section class="category-price p-1">
                        <div class="col-12 px-1 py-1">
                            <div class="price-item ">
                                <div class="col-12 detail">
                                    <div class="col-12 detail-item p-2">
                                        <label class=" col-4">کد رهگیری:</label>
                                        <input class="col-8" type="text" name="code" id="code-rahgiri"
                                               placeholder="45880215">
                                    </div>
                                    <div class="col-12 detail-item p-2">
                                        <label class=" col-4">تاریخ و زمان سفارش:</label>
                                        <input class="col-8" type="text" name="value-date" id="date-kharid"
                                               placeholder="شنبه 23 آبان-9 تا 12 صبح">
                                    </div>
                                    <div class="col-12 detail-item p-2">
                                        <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                        <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                               placeholder="نام ونام خانوادگی 09122254545">
                                    </div>
                                    <div class="col-12 detail-item p-2">
                                        <input class="col-12 adres" type="text" name="value-address" id="address"
                                               placeholder="کرمان،نرسیده به بلوار،خیابان فیروزه جنب مطب قهاری،پلاک25">
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal Order details -->

    <div class="container-fluid container-admin" style="position:relative ;">
        <!-- start header -->
        <header class="header-m-oprator">
            <div class="title">
              <span class="back"><img src="{% static 'frontend/images/black.f.png' %}"
                                      alt="icon"
              /></span>
                <h5>جزئیات سفارش</h5>
            </div>
            <div class="line"></div>
        </header>
        <!-- start header -->
        <!-- START MENU-BOTTOM -->
        {% include 'base/menu-mobile.html' %}
        <!-- END MENU-BOTTOM -->
        <!-- START MAIN -->
        <main class="main">
            <div class="content-price active">
                <div>
                    <div class="col-12 txt-top p-3">
                        {% if cart.cartstatus.delivery_time %}
                            <span class="fs-6">
                                زمان تقریبی رسیدن کالا
                                    <b class="bg-info text-white p-0 px-2"
                                       style="border-radius: 5px">{{ cart.cartstatus.delivery_time }}</b>
                                دقیقه
                            </span>
                        {% endif %}
                    </div>
                    <div class="col-12 city p-1 d-flex justify-content-between align-items-center text-center mb-4">
                        <div class="col-3 images status-type" id="status-type-checking">
                            <div class="col-8 aks">
                                <i class="fa fa-hourglass"></i>
                                <span class="py-2">در صف بررسی</span>
                            </div>
                            <div class="point">
                                .........................
                            </div>
                        </div>
                        <div class="col-3 images status-type" id="status-type-accepted">
                            <div class="col-8 aks">
                                <i class="fa fa-check-circle"></i>
                                <span class="py-2">تایید سفارش</span>
                            </div>
                            <div class="point">
                                .........................
                            </div>
                        </div>
                        <div class="col-3 images status-type" id="status-type-send">
                            <div class="col-8 aks">
                                <i class="fa fa-truck"></i>
                                <span class="py-2">خروج از مرکز سفارش</span>
                            </div>
                            <div class="point">
                                .........................
                            </div>
                        </div>
                        <div class="col-3 images status-type" id="status-type-delivered">
                            <div class="col-8 aks">
                                <i class="fa fa-clipboard-check"></i>
                                <span class="py-2">تحویل به مشتری</span>
                            </div>
                        </div>

                    </div>
                    <div class="line"></div>
                </div>
                <section class="category-price p-1">
                    <div class="col-12 px-1 py-1">
                        <div class="price-item ">
                            <div class="col-12 detail">
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">کد رهگیری:</label>
                                    <input class="col-8" type="text" name="code" id="code-rahgiri"
                                           placeholder="45880215" value="{{ cart.get_track_code }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">تاریخ و زمان سفارش:</label>
                                    <input class="col-8" type="text" name="value-date" id="date-kharid"
                                           placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                           value="{{ cart.factor.factorpayment.get_created_at }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">اطلاعات تحویل گیرنده:</label>
                                    <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                           placeholder="نام ونام خانوادگی 09122254545"
                                           value="{{ cart.get_receiver_user_info }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="col-12 px-1 py-1">
                        <div class="price-item ">
                            <div class="col-12 detail">
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">ادرس:</label>
                                    <input class="col-8" type="text" name="code" id="code-rahgiri"
                                           placeholder="45880215" value="{{ cart.factor.address.address }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4"> پلاک :</label>
                                    <input class="col-8" type="text" name="value-date" id="date-kharid"
                                           placeholder="شنبه 23 آبان-9 تا 12 صبح"
                                           value="{{ cart.factor.address.plate }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">کد پستی :</label>
                                    <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                           placeholder="نام ونام خانوادگی 09122254545"
                                           value="{{ cart.factor.address.postal_code }}">
                                </div>
                                <div class="col-12 detail-item p-2">
                                    <label class=" col-4">توضیحات مشتری :</label>
                                    <input class="col-8" type="text" name="value-kharid" id="darsad-kharid"
                                           placeholder="نام ونام خانوادگی 09122254545"
                                           value="{{ cart.factor.note|default:'بدون توضیحات' }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="line"></div>

            <!-- start content orders detail-->
            <div class="order active">
                <section class="category-product p-2 col-12">
                    <!-- start -->
                    {% for order in cart.get_orders %}
                        <div class="col-12 col-md-6 p-2 ">
                            <div class="product-item">
                                <div class="col-4 col-md-4 height">
                                    <a href="{{ order.product.get_absolute_url }}">
                                        <div class="img-product">
                                            <img src="{{ order.product.get_image_url }}"
                                                 alt="{{ order.product.name }}">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-5 col-md-4 moshakhaseh">
                                    <div class="name-sweet">
                                        <h4>
                                            <a href="{{ order.product.get_absolute_url }}">{{ order.product.name }}</a>
                                            ({{ order.count }})
                                        </h4>
                                    </div>
                                    <div class="the-details">
                                        {{ order.product.description }}
                                    </div>
                                </div>
                                <div class="col-3 p-2 price">
                                    <div class="price-value">
                                        <h4 class="mb-0 price-el">{{ order.get_total_price }}</h4>
                                        <p class="text">تومان</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                    {% for order in cart.get_custom_orders %}
                        <div class="col-12 col-md-6 p-2 ">
                            <div class="product-item">
                                <div class="col-4 col-md-4 height">
                                    <div class="img-product">
                                        <img src="{{ order.get_image_cover.get_image_url }}"
                                             alt="سفارش دلخواه">
                                    </div>
                                </div>
                                <div class="col-5 col-md-4 moshakhaseh">
                                    <div class="name-sweet">
                                        <h4>
                                            سفارش دلخواه
                                            {{ forloop.counter }}
                                        </h4>
                                    </div>
                                    <div class="the-details">
                                        {{ order.description }}
                                        <hr>
                                        {{ order.note }}
                                    </div>
                                </div>
                                <div class="col-3 p-2 price">
                                    <div class="price-value">
                                        <h4 class="mb-0 price-el">{{ order.price }}</h4>
                                        <p class="text">تومان</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </section>
                <div class="col-12 p-2">
                    <div class="line"></div>
                    <!--start content list wallet  -->
                    <section class="list">
                        <div class="col-12 ">
                            <div class="content-list p-2">
                                <div class="col-12 p-2">
                                    <div class="list-item">
                                        <span>قیمت کالا ها</span>
                                        <div>
                                            <span class="price-el">
                                            {{ cart.get_total_price }}
                                        </span>
                                            <span>تومان</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-2">
                                    <div class="list-item">
                                        <span>تخفیف کالا ها</span>
                                        <div>
                                            <span class="price-el">0</span>
                                            <span>تومان</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 border-b p-2">
                                    <div class="list-item credit" id="texts-etebar">
                                        <span>هزینه ارسال</span>
                                        <div>
                                            <span class="price-el">{{ cart.factor.shipping_fee }}</span>
                                            <span>تومان</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12  p-2">
                                    <div class="list-item">
                                        <span>جمع سبد خرید</span>
                                        <div>
                                            <span class="price-el">
                                            {{ cart.factor.price }}
                                        </span>
                                            <span>تومان</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                    <!--end content list wallet  -->
                </div>
            </div>

            <!-- end content orders detail -->


        </main>

    </div>
    </body>
{% endblock %}

{% block Script %}
    <script src="{% static 'frontend/vendors/map/dist/js/jquery-3.2.1.min.js' %}"></script>
    <!--BOOTSTRAP -->
    <script src="{% static 'frontend/vendors/bootstrap.min.js' %}"></script>

    <!-- MAIN JS -->
    <script src="{% static 'frontend/js/basket-shoping.js' %}"></script>
    <script>
        let status_type = '{{ cart.cartstatus.status }}' || 'checking'
        let status_type_checking = document.getElementById('status-type-checking')
        let status_type_accepted = document.getElementById('status-type-accepted')
        let status_type_send = document.getElementById('status-type-send')
        let status_type_delivered = document.getElementById('status-type-delivered')
        if (status_type == 'checking') {
            status_type_checking.classList.add('active')
        } else if (status_type == 'accepted') {
            status_type_checking.classList.add('active')
            status_type_accepted.classList.add('active')
        } else if (status_type == 'send') {
            status_type_checking.classList.add('active')
            status_type_accepted.classList.add('active')
            status_type_send.classList.add('active')
        } else if (status_type == 'delivered') {
            status_type_checking.classList.add('active')
            status_type_accepted.classList.add('active')
            status_type_send.classList.add('active')
            status_type_delivered.classList.add('active')
        }
    </script>

{% endblock %}